header{
    background-repeat: no-repeat;
   background-attachment: fixed;
    background: url(file:///var/www/html/cuisine/image/419500.jpg); 
    height:200px;
    margin:center;
    
}
#titre{
    font-size: 100px;
    color:#cccc52;
    font-family: 'Anton' sans-serif;
}

#menu{
    text-align: center;
    font-family: 'Righteous', cursive;
    border-width : 2px;
    border-style: groove;
    border-color:#363534;
    padding: 3px;
    background: #363534;
    color: #d49524;
    ;
}
#menu ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
}
#menu li{
    float: left;
    margin: auto;
    padding: 15px;
    background:linear-gradient(90deg,rgba(255,255,255,0) 0%,rgba(255,255,255,0.2)25%,rgba(255,255,255,0.2)75%,rgba(255,255,255,0)100%) ;
    box-shadow: 0 0 25px rgba(0,0,0,0.1),inset 0 0 1 rgba(255,255,255,0.6);
    text-decoration: none;
}
#menu li a{
    display: block;
    width: 100px;
    color:#bc7012;
    text-decoration: none;
    padding: 5px;
    }
 #menu li a:hover{
     color: aquamarine;
 } 
 #menu ul li ul{
     display: none
 }
 #menu ul li:hover ul{
     display: block;
 }
 #menu  li:hover ul li{
     float: none;
 }
 #menu li ul{
     position: absolute;
     
 }
 #menu{
     height: 50px;
 }
 #menu a{
     text-decoration: none;
     color: black
 }
 #menu ul li a::after{
     filter:alpha(opacity=10);