body{
    font-family: 'Vibes', cursive;
    background: #1a0001;
    color: #1a0001;
    
}
h1{
    color: antiquewhite;


}
.square{
    overflow: auto;
}
scroll-container {
    display: block;
    width: 500px;
    height: 700px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
